@import '../styles/vars';

:global(body) {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
}
nav {
  text-align: center;
}
ul {
  display: flex;
}
nav > ul {
  padding: 4px 16px;
}
li {
  display: flex;
  padding: 6px 8px;
}
a {
  color: $blue;
  text-decoration: none;
  font-size: 13px;
}